#chatBox {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 7fr 2fr;
  gap: 5px;
  height: 100%;
}

.entityCardContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.chatMessagesContainer {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
