#messageInputContainer {
  border-radius: 5px;
}

.messageInputForm {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.msgImgContainer {
  align-self: center;
}

#messageInput {
  background-color: #e7ecef;
  border: 0;
  resize: none;
  flex: 2;
}

#msgInpBtn {
  padding: 15px;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 10px 10px #ced4da inset;
  border-radius: 10px;
  align-self: center;
}

#msgInpBtn:hover {
  background-color: #adb5bd;
  box-shadow: 0px 0px 10px 10px #adb5bd inset;
}
