.pwdFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #e7ecef;
  min-width: 150px;
  max-width: 400px;
  min-height: 100px;
  max-height: 200px;
  border: groove 1px #e7ecef;
  border-radius: 10px;
  padding: 10px;
}

.closeBtnPwd {
  left: 0;
  top: 0;
}

.pwdForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pwdFormLabel {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pwdFormInput {
  border-radius: 5px;
}
