#entityCard {
  display: flex;
  border-width: 1px;
  height: 100%;
}

#entityCardGroupChatBox {
  display: flex;
  border-width: 1px;
  height: 100%;
}

#entityCard:hover {
  background-color: #6096ba;
  color: #e7ecef;
  cursor: grab;
}

#entityCardActive {
  display: flex;
  border: groove 1px #5f5fe7;
  background-color: #5f5fe7;
  color: #e7ecef;
}

.cardPortrait {
  max-width: 50px;
  border-radius: 50%;
  min-height: 80px;
  object-fit: cover;
}

.entityInfo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cardName {
  font-weight: 550;
}

.cardUsername {
  margin-left: 5px;
  font-family: "Timew New Roman";
  font-size: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardUsernameActive {
  margin-left: 5px;
  font-family: "Timew New Roman";
  font-size: 0.75em;
  color: #e7ecef;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lastMsg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Miranda Sans", Times, serif;
  margin-left: 5px;
}

.entityDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Miranda Sans", Times, serif;
  margin-left: 5px;
}

.statusCircle {
  min-height: 10px;
  min-width: 10px;
  background-color: #9d3535;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  align-self: center;
  margin-right: 8px;
}

#onlineCircle {
  background-color: #3bbb3b;
}
