.MessageBoard {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.3fr 2.7fr 7fr;
  grid-template-rows: 3fr 3fr 1fr 1fr;
  background-color: #e7ecef;
  overflow: hidden;
}

.profileFormContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
}

.profileFormContent {
  display: flex;
  align-items: center;
}

.pageSidebarContainer {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.messageSidebarContainer {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: hidden;
}

.messageSidebarContainer:hover {
  overflow-y: scroll;
}

.chatBoxContainer {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.groupFormPageContainer {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

#loggedUser {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  overflow: hidden;
}
