.messageContent {
  padding: 10px;
  background-color: #dee2e6;
  color: #343a40;
}

#messageContainerAuthor {
  border-color: #5f5fe7;
}

#messageContentAuthor {
  background-color: #5f5fe7;
  color: white;
}
