.messageContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.userPortrait {
  min-height: 60px;
  max-height: 68px;
  min-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.msgWithTime {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.authorInfo {
  display: flex;
  gap: 20px;
}

.msgUsername {
  color: #615e5e;
  font-weight: 500;
  margin-left: 1px;
  font-size: 1.1em;
}

.msgTime {
  color: #8b8c89;
}

#messageAuthor {
  border-color: #5f5fe7;
  flex: 2;
  background-color: #5f5fe7;
}

#messageContentAuthor {
  background-color: #5f5fe7;
  color: white;
  display: grid;
  grid-template-columns: 0.95fr 0.05fr;
}

.messageContent {
  padding: 10px;
  background-color: #dfe4e7;
}

#msgTxtReceiver {
  width: 100%;
}

#msgTxt {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#msgImg {
  max-width: 400px;
  min-height: 200px;
  align-self: center;
  padding: 0;
}

#msgImgAuthor {
  max-width: 100px;
  min-height: 100px;
  background-color: #5f5fe7;
}
