.messageContent {
  padding: 10px;
  background-color: #dfe4e7;
  display: grid;
  grid-template-columns: 9.4fr 0.6fr;
}

#messageContainer {
  border: solid 3px aliceblue;
}

#messageContainerAuthor {
  border: solid 3px #5f5fe7;
}

#messageContentAuthor {
  background-color: #5f5fe7;
  color: white;
}
#msgImg {
  max-width: 100px;
  min-height: 100px;
}
