#profileSidebar {
  height: 100%;
  gap: 5px;
}

#profileSidebarUserContainer {
  border-width: 1px;
}

.profileSidebarItem {
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  display: flex;
}

.profileSidebarItem:hover {
  background-color: #a5adb1;
  cursor: grab;
}

#chosen {
  background-color: #a5adb1;
}
