.groupProfileMembersContainers {
  overflow: auto;
}

.groupProfileMembers {
  overflow: auto;
}

.groupProfileMembersCards {
  display: flex;
  gap: 1px;
}

.groupProfileMemberCard {
  width: 75%;
}

.memberBtn {
  display: flex;
  align-self: center;
}
