.groupProfileMembersContainer {
  overflow: hidden;
}

.groupProfileMembers {
  position: relative;
  z-index: 11;
  max-height: 300px;
  overflow: scroll;
}

.groupProfileMemberTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.groupMemberAdd {
  flex: 2;
  z-index: 12;
}

.groupProfileMembersCards {
  display: flex;
  gap: 1px;
}

.groupProfileMemberCard {
  width: 75%;
}

.memberBtn {
  display: flex;
  align-self: center;
}
