#pageSidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  background-color: #e7ecef;
  height: 100%;
}

.pageSidebarItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pageSidebarItem:hover {
  background-color: #a5adb1;
  cursor: grab;
}

.icon {
  max-width: 40px;
}

#chosen {
  background-color: #a5adb1;
}

#logoutContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
