#home {
  display: grid;
  grid-template-columns: 2.5fr 5fr 2.5fr;
  grid-template-rows: 0.5fr 9fr 0.5fr;
  /*box-shadow: 0px 0px 4px 4px #c3c3d3 inset;*/
}

.homeContainer {
  background-color: #212529;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: groove 3px #212529;
  border-radius: 5px;
  font-size: 1.3em;
  box-shadow: 0px 0px 2px 2px #495057 inset;
  text-align: center;
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr 0.2fr;
}

.loginHeader {
  grid-row-start: 1;
}

.loginContainer {
  grid-row-start: 3;
}
.signUpHeader {
  grid-row-start: 5;
}

.signUpBtn {
  grid-row-start: 7;
}
/* flex attempt
.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}*/
