@font-face {
  font-family: "Miranda Sans";
  src: url(https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
}

.userCard {
  display: flex;
  border: groove 3px #dedede;
}

.cardPortrait {
  max-width: 80px;
  border-radius: 50%;
  min-height: 80px;
  object-fit: cover;
}

.cardName {
  font-family: "Miranda Sans", Times, serif;
  font-weight: 550;
}

.cardUsername {
  margin-left: 5px;
  font-family: "Miranda Sans", Times, serif;
}
