#userCard {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  border: groove 1px #dedede;
}

#userCardActive {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  border: groove 1px #dedede;
  background-color: #f2f2f6;
}

.cardPortrait {
  max-width: 50px;
  border-radius: 50%;
  min-height: 80px;
  object-fit: cover;
}

.cardName {
  font-weight: 550;
}

.cardUsername {
  margin-left: 5px;
  font-family: "Miranda Sans", Times, serif;
}
