.userForm {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.userFormChild {
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.05fr 0.25fr 0.3fr 0.1fr;
}

.childLabel {
  grid-column-start: 2;
}

.childInp {
  grid-column-start: 4;
  grid-column-end: 6;
  border: solid 3px #e9ecef;
  border-radius: 10px;
}

.childInp[type="file"] {
  border: 0;
}

.submitBtn {
  width: 77%;
  align-self: center;
  border: solid 3px #e9ecef;
  border-radius: 10px;
  margin-top: 30px;
}

#txtArea {
  resize: none;
}
/* version that worked in sign up page but not in login page
.childLabel {
  display: grid;
  grid-template-columns: 0.1fr 0.07fr 0.8fr 0.03fr;
}

.childInp {
  grid-column-start: 3;
  grid-column-end: 5;
}

#txtArea {
  resize: none;
}*/
/* flawed attempt with flex
.childLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.childInp {
  flex-grow: 1;
}
*/
/* with grid (but made with input outside label)

.userFormChild {
  display: grid;
  grid-template-columns: 0.1fr 0.07fr 0.8fr 0.03fr;
}

.childTxt {
  grid-column-start: 3;
  grid-column-end: 5;
}

.childInp {
  grid-column-start: 3;
  grid-column-end: 5;
}
*/
