#messagesSidebar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 99%;
  overflow: hidden;
}

#messagesSidebar:hover {
  overflow-y: scroll;
}

#messagesSidebarTitle {
  text-align: center;
}
