#messagesSidebar {
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 10px;
  overflow: hidden;
}

.contentChoiceList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-around;
  padding: 0;
}

#contentChoiceItem:hover {
  background-color: #31789b;
}
